
# Allow access to images
<FilesMatch "\.(jpg|jpeg|png|gif|svg)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Protect json files
<FilesMatch "\.json$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Disable directory listing
Options -Indexes
