
# Enable rewriting
Options +FollowSymLinks
RewriteEngine On

# Allow direct access to image files (jpg, jpeg, png, gif, webp)
<FilesMatch ".(jpg|jpeg|png|gif|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# No directory listings
Options -Indexes

# Allow access to the slides folder
<Directory "slides">
    Order Allow,Deny
    Allow from all
</Directory>
